[submodule "Portal_El_Dia"]
	path = Portal_El_Dia
	url = https://github.com/ValentinAlvarez-Portfolio/Portal_El_Dia
[submodule "Banifox_Copycat"]
	path = Banifox_Copycat
	url = https://github.com/ValentinAlvarez-Portfolio/Banifox_Copycat
[submodule "Bunker_PhoneShop"]
	path = Bunker_PhoneShop
	url = https://github.com/ValentinAlvarez-Portfolio/Bunker_PhoneShop
[submodule "Ecommerce_Microservices"]
	path = Ecommerce_Microservices
	url = https://github.com/Nest-Microservices-ValentinAlvarez98/app-launcher
[submodule "Express.js_Ecommerce_API"]
	path = Express.js_Ecommerce_API
	url = https://github.com/ValentinAlvarez-Portfolio/Express.js_Ecommerce_API
[submodule "Gestor_stock"]
	path = Gestor_stock
	url = https://github.com/GestorDeStock/gestor-app-launcher
